.player {
    position: relative;
    width: 200px;
    height: 200px;
    transition: all var(--smooth) ease;
}

.hexagon-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: all var(--smooth) ease;
}

.hexagon-body svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all var(--smooth) ease;
}

.seek-slider {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 10px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 10px;
    background: var(--light-colour);
    cursor: pointer;
    z-index: 2;
    transition: all var(--smooth) ease;
}

.seek-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 7px;
    border-radius: 10px;
    background: var(--dark-colour);
    cursor: pointer;
    transition: all var(--smooth) ease;
}

.playtime {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--light-colour);
    font-size: 14px;
    text-align: center;
    font-family: "Inria Sans", system-ui;
    font-weight: 400;
    z-index: 2;
    transition: all var(--smooth) ease;
}

.play, .pause {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    cursor: pointer;
    transition: all var(--smooth) ease;
}

.pause {
    display: none;
}

.music-visualizer {
    position: absolute;
    left: 50%;
    top: 65px;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    z-index: 2;
    transition: all var(--smooth) ease;
}

.visualizer {
    display: flex;
    gap: 6px;
    height: 100%;
    align-items: flex-end;
    transition: all var(--smooth) ease;
}

.bar {
    width: 15px;
    background-color: var(--light-colour);
    border-radius: 10px;
    height: 20px;
    transform-origin: bottom;
    transition: all var(--quick) ease;
}

/* Hide the default audio controls */
audio {
    display: none;
}