#wallon {
    transition: all var(--smooth) ease;
    z-index: 2;
    display: none; /* Hide wallon initially */
  }
  
  #walloff {
    transition: all var(--smooth) ease;
    z-index: 1;
    display: inline; /* Show walloff initially */
  }