:root {
    --light-colour: var(--system-light-primary);
    --dark-colour: var(--system-light-secondary);
    --br: 15px;
    --smooth: 0.45s;
    --quick: 0.15s;
    --apps-light-colour: var(--light-colour);
    --apps-dark-colour: var(--dark-colour);
}